@model List<BookStoresWebAPI.Models.Book>
@{
    ViewData["Title"] = "Book List";
}

<h3>@ViewData["Title"]</h3>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Type</td>
                <td>@book.Price</td>
            </tr>
        }
    </tbody>
</table>